body{
    margin: 0;
    font-family: sans-serif;
    text-align: center;
}
header{
    background-color: red;
    display: flex;
    padding: 0 1em 0;
}
header>*{
    flex: 1 60%;
    justify-content: space-between;

}
.tuit {
    border: 2px solid deeppink;
}
